<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB33C2AF5AE58E81CED9F708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB33C340FFB7C02FB3C7953D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB33CD21C2F0D2B54A6D05B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
